<!-- header.component.html -->
<div id="header-fixed">
    <div id="header-bk">
        <div id="header">
            <header>
                <div style="text-align: center;">
                    <img src="assets/images/title_mintyou.png" width="400px" alt="tomignite!">
                </div>
                <nav>
                    <ul>
                        <!-- tsファイルでルーティング設定 -->
                        <li><a href="nav/about/about.html">当サイトと我々</a></li>
                        <li><a href="assets/images/seisakutyu_yoko.png">お知らせ</a></li>
                        <li><a href="assets/images/seisakutyu_yoko.png">実績</a></li>
                        <li><a href="http://tomignite.pro/wp/contact/">依頼／問合</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</div>