<!--フッタ-->
<div id="footer-fixed">
    <div id="footer-bk">
        <div id="footer">
            <footer>
              <div class="container">
                    <div style="text-align: center;">
                        <div class="item">
                            <span style="font-size:15px;">
                              <a href="https://www.oracle.com/jp/education/certification/1z0-815-jpn-48261-ja.html" target="_blank">
                                    JavaSilver
                              </a>
                              合格！！！！！
                              <a href="https://www.aft.or.jp/" target="_blank">
                                    色彩検定1級2次
                              </a>
                              勉強ニツキ、応援求ム。
                            </span>
                            <span style="font-size:10px;">
                              Copyright © 2021  Tommy_Victor  All Rights Reserved.
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>